@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,100&display=swap');


* {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
  
}

/* ------------------ NAVIGATION ------------------ */

/* --------- GLOBAL NAV BAR DESKTOP --------- */

nav {
  background: #2B2D42;
  transition: ease-in .3s;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.navLink {
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  padding: 50px 0px;
  color: rgb(59, 59, 59);
  font-size: 18px;
  color: #EDF2F4;
  display: block;
}

.navLink:hover {
  color: #EF233C;   
}


/* --------- BURGER & MOBILE --------- */

.burger {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
}

.burger div {
  background-color: #EDF2F4;
  height: 3px;
  width: 30px;
  margin: 5px;

}

@media screen and (max-width: 800px){
  .burger  {
    display: inline-block;
    background-color: #2b2d42;
    width: 100%
  }

  .navLink {
    width: 100%;
    padding: 0px;
  }

  nav {
    display: none;
    position: fixed;
    width: 100%;
    top: 49px;
    transition: ease-in .3s;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none;
    transition: ease-in .3s;
    background-color: #8d99ae;
  }

  .navLink:hover {
    background-color: #EF233C;
    color: #EDF2F4;   
  }

}


/* ------------------ MAIN CONTENT ------------------ */

.main {
  display: flex;
  flex-direction: column;
}

/* --------- WINDOW --------- */

.window {
  width: 100%;
  height: 600px;
  background: #8D99AE;
  background-image: url("https://github.com/LaunchCodeLiftoffProjects/koki-group-b/blob/main/Banner.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  color: #EF233C;
}

.window-content {
  background-color: #0000007c;
   display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .window {
    height: 80vh;
  }
}

/* --------- PRODUCT GRID --------- */

.sort {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  height: 450px;
  width: 400px;
  background-color: #EDF2F4;
  border-radius: 10px;
  border: #2b2d42 1px solid;
  margin: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  
}

.box:hover, .box:active, .box:focus {
  box-shadow: #2b2d42 0px 0px 20px;  
}

.imgWindow {
  width: 90%;
  height: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  max-width: 100%;
}

.add2CartBtn{
  background-color: #EF233C;
  height: 30px;
  width: 150px;
  border: none;
  font-size: 1rem;
}

.add2CartBtn:hover, .add2CartBtn:focus {
  background-color: #2B2D42;
  color: #EF233C;
  font-weight: normal;
}

@media screen and (max-width: 800px) {
  .box {
    width: 90%;
  }
}

/* --------- UPPER CART BUTTONS --------- */

.cart-btn-contain {
  display: flex;
  position: fixed;
  right: 10px;
  top: 10px;
}

.view-cart-btn {
  background-color: #cfcfcf;
  height: 30px;
  width: 50px;
  border: none;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: #000 0px 0px 10px; 
}

.cart-qty{
  display: inline;
  padding: 6px 10px;
  background-color: #EF233C;
  border-radius: 20px;
  box-shadow: #000 0px 0px 10px; 
}


/* ------------------ CART ------------------ */


#cart {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: #000000d0;
  flex-direction: column;
}

.cartContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #EDF2F4;
  width: 80%;
  box-shadow: rgb(0, 0, 0) 0px 0px 30px;
}

.cartImgWindow {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartProductImage {
  max-width: 100%;
}

.cartTop {
  max-height: 500px;
  width: 90%;
  overflow: scroll;
}

.closeCart {
  width: 95%;
  cursor: pointer;
  text-align: right;
  font-size: 2rem;
  margin: 15px;
  color: rgba(0, 0, 0, 0.568);
}

th {
  color: #646464;
  padding: 10px;
  text-transform: uppercase;
}

table {
  width: 100%;
  border-collapse: collapse;
  max-height: 400px;
  overflow: scroll;
}

td {
  padding: 10px 0px;
}

tr {
  border-bottom: solid thin rgba(0, 0, 0, 0.322); 
}

tr:last-child { 
  border-bottom: none; 
}

.cartTotals {
  width: 40%;
}

.cartTotals tr {
  border: none;
}

.cartTotals tr:last-child { 
  border-top: solid thin rgba(0, 0, 0, 0.322); 
}

.cartBottom {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #8d99ae;
  width: 100%;
  height: 200px;
}
.cartBottom table {
  font-size: 12px;
}

#total, #totalPrice {
  color: #000;
  font-size: 18px;
}


.removeFromCart {
  background-color: #EF233C;
  height: 30px;
  width: 150px;
  border: none;
  font-size: 1rem;
  margin: 10px;
}


.confirm {
  background-color: #EF233C;
  height: 60px;
  width: 400px;
  border: none;
  font-size: 2rem;
  text-transform: uppercase;
}


#confirm {
  color: #000000;
  text-decoration: none;
}



@media screen and (max-width: 800px) {
  .cartContent {
    font-size: 10px;
    width: 95%;
  }

  #desctxt, #descTitle{
    display: none;
  }

  .removeFromCart {
    width: 50px;
    font-size: 10px;
  }

  .cartImgWindow {
    width: 50px;

  }

  .closeCart {
    font-size: 1.5rem;
    margin: 5px;
    width: 95%;
  }

  .confirm {
    background-color: #EF233C;
    height: 60px;
    width: 300px;
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
  }
}

/*  ------------------  FOOTER  ------------------  */

footer {
  background-color: #2B2D42;
  color: #EDF2F4;
  padding: 30px;
  
}




